.NavBar {
    background-color: #101010;
    border-bottom: 1px solid #1f1f1f;
}

.NavLink {
    padding: 0.5rem;
    color: #2a9fd6;
    text-decoration: none;
}

.NavLink:hover {
    color:  #fafafa;
}

.Logo {
    font-size: 2rem;
    color: #2a9fd6;
    text-decoration: none;
}

.Logo:hover {
    color: #fafafa;
}
