h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.15rem;

    color: #2a9fd6;
}

.Row {
    height: calc(100vh - 81px);
}

.InputField {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #fafafa;
    border-radius: 5px;
    color: #fafafa;
    text-align: left;
    padding: 12px;
}

.Container {
    background: #1e1e1e;
    border: 1px solid #cdd0d7;
    padding: 2rem 1.5rem;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;

    color: #fafafa;
}

.Link:hover {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;

    color: #2a9fd6;
}

.Link span {
    color: #2a9fd6
}

.Link span:hover {
    color: #fafafa
}